/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9; /* Lighter background for a professional look */
    color: #444; /* Slightly darker text for better readability */
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scrollbars */
}

h1 {
    font-size: 3em;
    color: #333; /* Darker color for headers */
    margin: 20px 0;
}

h2 {
    font-size: 2.5em;
    color: #555; /* Slightly subdued color for headers */
    margin: 15px 0;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px; /* Reduced margin for a compact look */
}

/* Update Carousel section styles */
.carousel {
    margin: 20px auto;
    max-width: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* About section styles */
#about {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #f9f9f9; /* Lighter background for the about section */
}

.about-content {
    display: flex;
    align-items: center; /* Removed unnecessary flex direction */
}

.about-text {
    flex: 1;
    color: #333;
    font-weight: 500; /* Slightly reduced font weight for a softer look */
}

.about-image img {
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05); /* Slightly smaller scale on hover for subtlety */
}

/* Portfolio section styles */
#portfolio {
    padding: 40px 20px;
}

.project-summary {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-summary:hover {
    transform: translateY(-3px); /* Reduced movement on hover */
}

.project-summary h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Contact section styles */
#contact {
    text-align: center;
    padding: 60px;
    background: #f9f9f9;
    color: #444;
}

#contact h2 {
    color: #444;
    font-weight: 700;
    margin: 0;
}

#contact a {
    color: #e74c3c;
    text-decoration: none; /* Removed underline for a cleaner look */
    transition: color 0.3s ease-in-out;
}

#contact a:hover {
    color: #ff6f61; /* Warmer color on hover for emphasis */
    font-weight: 600; /* Slight increase in font weight on hover */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 30px;
    background: #f9f9f9;
    color: #555;
}